:root{
	
	--background:white;
	
}

@media (prefers-color-scheme:dark) {
	:root{
		
		--background:#262626;
		
	}
}

.preview_img{
	
	background:url(loading.gif);
	background-size:70% 70%;
	background-repeat:no-repeat;
	background-position:center center;
	
}

#sharephoto{
	
	position:fixed;
	left:140%;
	
}




#searchbox{
	
    width: calc(100% - 67px);
    background-color: var(--grey1);
    height: 25px;
    font-size: 17px;
    padding: 8px 15px;
    margin: 3px 19px;
    border-width: 2px;
    border-style: none;
    border-radius: 10px;
    display: inline-block;
    outline: none;
    color: var(--text);
	
}

#searchbox::-webkit-input-placeholder{

    padding-left: calc(50% - 2em);
    transition: all 0.35s;

}

#searchbox:focus::-webkit-input-placeholder{

    padding-left: 0;
    
}

.searchsvg{
	
	/* color:#3776F4; */
	font-size:19px;
	padding-top:-0px;
	margin-top:4px;
	right:20px;
	/* padding-right:auto; */
	/* left:50%; */
	/* font-weight:bold; */
	position:absolute;
	cursor:pointer;
	float:right;
}
#preview_types_container:after{
	
	width:20px;
	
}
	
	
#preview_types{
	
    overflow: auto;
    width: calc(100% - 4px);
    height: 48px;
    white-space: nowrap;
    margin: 10px -8px 8px -8px;
    padding: 6px 10px 0px 10px;
    background-color: #F7F7F7;
    color: black;
    transition: height 0.25s;
    -moz-transition: height 0.25s;
    -webkit-transition: height 0.25s;
    -o-transition: height 0.25s;
}

.preview_type:hover{
	
	background-color:#E1E1E1;
	
}

.br{
	font-size:14px;
}

#preview_types::-webkit-scrollbar {

	display:none;

}
/* #detail::-webkit-scrollbar {

	border-width:7px; 

} */
.url::-webkit-scrollbar {

    display:none;
}
.linklist::-webkit-scrollbar {

    display:none;
} /* 
::-webkit-scrollbar {
    width:20px;
    height:8px;
	
}

::-webkit-scrollbar-thumb {
    border-radius:12px;
    border:6px solid rgba(0, 0, 0, 0);
    box-shadow:8px 0 0 #A5ADB7 inset;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow:8px 0 0 #4A4A4A inset;
} */

#firstt{
	
	margin-top:15px;
	
}

.preview_type{
	
	background-color:transparent;
	padding:10px 10px 10px 10px;
	margin-top:0px;
	margin-bottom:2px;
	cursor:pointer;
	border-radius:6px;
	display:inline-block;

}

.listtype{
	
	background:none;
	position:absolute;
	right:0px;
	margin-top:-6px;
	z-index:30;
	width:70px;
	height:54px;
	
	
}
#listtype1{
	display:none;
}
#listtype2{
	display:inline;
}


.preview_box{
	
	/* display:inline; */
	height:80px;
	border-bottom:solid #E4E4E4 1px;
    padding: 13px 8px 0px 8px;
    cursor: pointer;
    margin: 0px -8px;
	
}

.preview_box:hover{
	
	background-color:#E1E1E1;
	
}


.preview_img{
	
	display:inline;
	height:60px;
	width:60px;
	margin-left:15px;
	border-radius:50%;
}

.preview_box p{
	
	display:inline;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:calc(100% - 130px);
}

.preview_selected {
	
	display:inline !important;
	position:positive !important;
	margin-left:-24px !important;
	margin-bottom:0px !important;
}



.preview_title{
	
	font-size:24px;
	font-weight:bold;
	margin-top:7px;
	margin-left:10px;
	position:absolute;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	
}

.preview_little{
	
	font-size:16px;
	margin-top:40px;
	margin-left:10px;
	position:absolute;
	color:grey;
}

.preview_go{
	
	margin-top:-67px;
	right:15px;
	position:absolute;
	width:20px;
	

}

#showmore{
	color:black;
	margin:30px;
	padding:5px 10px;
	text-align:center;
	background-color:#E8E8E8;
	position:relative;
}

.legal-statement{
	
	color:grey;
	
	
}

#detail{
	
	position:absolute;
	background-color:#FFFFFF;
	
	transition:left 0.25s;
	-moz-transition:left 0.25s;	/* Firefox 4 */
	-webkit-transition:left 0.25s;	/* Safari 和 Chrome */
	-o-transition:left 0.25s;	/* Opera */

	
	
	
}

#dheader_main{
	background-color:#F7F7F7;
	height:50px;
	position:fixed;
	width:100%;
	z-index:1000;
	transition: all 0.3s;
	-moz-transition: all 0.3s;	/* Firefox 4 */
	-webkit-transition: all 0.3s;	/* Safari 和 Chrome */
	-o-transition: all 0.3s;	/* Opera */
}
#dheader_title{
	
	/* color:#3776F4; */
	font-size:19px;
	padding-top:-0px;
	margin-top:12px;
	/* left:0; */
	/* right:0; */
	/* margin-left:-25%; */
	font-weight:bold;
	/* position:fixed; */
	text-align:center; 
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    padding: 0px 80px;
	transition: all 0.3s;
	-moz-transition: all 0.3s;	/* Firefox 4 */
	-webkit-transition: all 0.3s;	/* Safari 和 Chrome */
	-o-transition: all 0.3s;	/* Opera */

}
.showimgbg{
	
	background:rgba(255, 255, 255, 0)!important;
	background: url(/src/img/loading.gif);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
}

.showimgp{
	
	opacity: 0!important;
	
}

.height3{
	
    height: 338px;
    margin-bottom: -73px;
	margin-top: -60px;
    background-size: cover!important;
	
}

#jianbian{
	
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, var(--background));
	
}
#dheader_back{
	
	color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:12px;
	margin-left:30px;
	position:fixed;
	cursor:pointer;
	z-index: 2;
}

#dheader_backsvg{
	
	color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:13px;
	margin-left:12px;
	position:fixed;
	cursor:pointer;
	z-index: 2;

}
#dheader_sharesvg{
	
	color:#3776F4;
	font-size:19px;
	padding-top:-0px;
	margin-top:12px;
	right:20px;
	position:fixed;
	cursor:pointer;
	z-index: 2;
}
.height2{
	
	height:52px;
}
#detail_img{
	
	margin-bottom:12px;
	margin-top: 10px;
	
}


.detail_title{
	
	font-size:24px;
	font-weight:bold;
	margin-top:7px;
	margin-left:10px;
    margin-bottom: 0;
	/* position:absolute; */
	/* white-space:nowrap; */
	/* overflow:hidden; */
	/* text-overflow:ellipsis; */
	width: calc(100% - 10px);
}

#detail_selected{
	
	display:inline-block;
	background-color:#E1E1E1;
	width:calc(100% - 40px);
	margin:-5px 0px 10px 0px;
	padding:10px 30px 10px 20px;

}
#selected_inner{
	
	display:inline;
	margin-left:12px;
	
}
#selected-svg{
	
	display:inline;
	/* margin-left:5px; */
	margin-bottom:-3.4px;
	
}
.introduce{
	
	margin:0 16px 10px 16px;
	position:relative;
	top:2px;
	line-height: 1.4;
	
}
.tags{
	
	/* position:relative; */
	margin-right:10px;
	top:40px;
	display:inline-block;
    margin-bottom: 20px;
}
.tag{
	
	margin-top:6px;
	margin-bottom:0px;
	margin-left:11px;
	margin-right:-5px;
	border-radius:2px;
	background-color:#E1E1E1;
	font-size:14px;
	padding:2px 5px;
	display:inline-block;
	color:black;
}

.right{
	text-align:right;
	margin-right:20px;
}

.dh2{
	
	font-size:21px;
	font-weight:bold;
	position:relative;
	top:13px;
	height:42px;
}

.singlelink{
	position:relative;
	top:0px;
	height:32px;
	bottom:0px;
}

.linklist {
	
	display:inline;
	margin-right:0px;
	font-size:16px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	float:left;
	width:calc(48% - 101px);
	height:22px;
}
.url{
	
	border-radius:2px;
	background-color:#E1E1E1;
	font-size:16px;
	padding:2px 5px 2px 5px;
	display:inline;
	color:black;
	overflow:auto;
	width:52%;
	white-space:nowrap;
	left:1px;
	margin:2px;
	margin-right:13px;
	float:left;
	
}
.play{
	
	border-radius:2px;
	border-width:0px;
	background-color:#E1E1E1;
	font-size:14px;
	display:inline;
	color:black;	
	width:24px;
	height:24px;
	margin-right:13px;
	margin-left:-7px;
	margin-top:2px;
	padding:0;
	float:right;
	cursor:pointer;

}

.playicon{
	
	margin:4px 0 0 1px;
	
}

.player {
	position:fixed;
	
	top:calc(100% - 216px);
	width:300px;
	z-index:9999;
	display:none;
	padding:0;
	margin:0;
	/* box-shadow:0px 0px 5px black; */
	border-radius:6px;
	transition:width 0.25s;
	-moz-transition:width 0.25s;	/* Firefox 4 */
	-webkit-transition:width 0.25s;	/* Safari 和 Chrome */
	-o-transition:width 0.25s;	/* Opera */


}
.bar {
	padding-left:5px; 
	padding-bottom:-5px;
	margin:0;
	height:30px;
	line-height:30px;
    color:black;
    background-color:#E1E1E1;
    cursor:move;
	border-top-left-radius:6px;
    border-top-right-radius:6px;
	overflow:hidden;
	text-overflow:ellipsis;
	box-shadow:0px 0px 5px black;


}

.closeplayer{
	float:right;
	padding:6px;
	cursor:pointer;
}

.playin{
	padding:0;
	margin:0;
	height:168px;
	box-shadow:0px 0px 5px black;
	
	border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;	
	
	transition:width 0.25s;
	-moz-transition:width 0.25s;	/* Firefox 4 */
	-webkit-transition:width 0.25s;	/* Safari 和 Chrome */
	-o-transition:width 0.25s;	/* Opera */

	transition:height 0.25s;
	-moz-transition:height 0.25s;	/* Firefox 4 */
	-webkit-transition:height 0.25s;	/* Safari 和 Chrome */
	-o-transition:height 0.25s;	/* Opera */

}

.player iframe{
	
	border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}


.nomore{
	
	color:grey;
	text-align:center;
	font-size:12px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%;
	height:1000px;
	display:block;
	position:relative;
	top:0px;
	height:0px;
}

.white{
	position:relative;
	top:0px;
	height:200px;
}

#backToTop {
    z-index:4;
    width:60px;
    height:60px;
    position:fixed;
    right:27px;
    bottom:30px;
    background:url(up.png)  no-repeat  left top ;
}
#backToTop:hover {
    background:url(upi.png)  no-repeat  left top;
}
#gitalk-container{
	margin:40px 20px;
}

.weui-half-screen-dialog_bd{

	width:100%;
	height:100px;
	overflow:auto;

	
}

#js_dialog_1{
	bottom:-300px;
	transition:bottom 0.5s;
	-moz-transition:bottom 0.5s;	/* Firefox 4 */
	-webkit-transition:bottom 0.5s;	/* Safari 和 Chrome */
	-o-transition:bottom 0.5s;	/* Opera */

}
.weui-mask{
	display:none;
	transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;	/* Firefox 4 */
	-webkit-transition:opacity 0.5s;	/* Safari 和 Chrome */
	-o-transition:opacity 0.5s;	/* Opera */

}
.share{
	
	text-align:center;
	display:inline-block;
	width:90px;
	margin:3px 4px;
	cursor:pointer;
	border-radius:6px;
	
	
}

.share:hover{
	
	background-color:#E1E1E1;
	
}

.shareimg{
	
	width:50px;
	margin:0 20px;
	display:block;
	border-radius:6px;
	
	
}
.sharep{
	
	text-align:center;
	
}

@media (prefers-color-scheme:dark) {

	#searchbox{
		
		background-color:#3B3B3B;
		color:white;
		
	}

	#preview_types{
		
		background-color:#3B3B3B;
		color:white;
	}
	.preview_type:hover{
		
		background-color:#515151;
		
	}

		
	.preview_box{
		
		border-bottom:solid grey 1px;
				
	}
	.preview_box:hover{
		
		background-color:#515151;
		
	}


	.share:hover{
		
		background-color:#515151;
		
	}



	#showmore{
		color:white;
		background-color:#3B3B3B;
			}


	#detail {
		background-color:#262626;
	}
	
		
	#dheader_main{
		background-color:#3B3B3B;
		
	}
	
	#detail_selected{
		
		background-color:#3B3B3B;
	}
	#listtype1{
		display:inline;
	}
	#listtype2{
		display:none;
	}
}


@media(max-width: 700px){

	#detail{
		width:100%;
		right:0px;
		top:0px;
		height:101%;
		overflow-y: auto;
		overflow-x: hidden;
		position:fixed;
		z-index:999;
		left:100%;
	}

	#dheader_backsvg{
		display:none;
	}
	#dheader_sharesvg{
		display:none;
	}
	#nothingopening{
		display:none;
	}
	#player {
		position:fixed;
		top: 70%;
		left:0px;
		width: 100%;
		z-index:9999;
	}
	.changesize{
		display:none;
	}

}

@media(min-width: 700px){


	#preview{
				
		width:35%;
		margin-left:18px;
		
	}
	.listtype{
		right:calc(65% - 28px);	
	}
	.livehead{
		
		width:40%;
		margin-left:0px;
		
	}
	#detail{
		width:53%;
		right:0px;
		top:70px;
		height:90%;
		overflow-y: auto;
		overflow-x: hidden;
		position:fixed;
		padding-left:2.5%;
		display:none;
		z-index:999;
	}
	#dheader_title{
		margin-left:-47%;
	}
	#dheader_back{
		display:none;
	}
	#dheader_backsvg{
		display:none;
	}
	#dheader_sharesvg{
		display:none;
	}
	
	#nothingopening{
		display:inline;
		width:100px;
		left:60%;
		top:50%;
		height:100px;
		z-index:200;
		position:fixed;

	}
	.preview_go{
		
		left:35%;
	}
	.preview_box p{
		
		width:20%;
	}
	#backToTop{
		right:65%;
	}
	
}
