<link rel="stylesheet" type="text/css" href="/src/css/foot.css">
<div class="footer-body">

	<p style="text-align:center;line-height:1.677;">
		<span class="footer-span" style="color:#666666;"><span class="footer-span" style="color:#CCCCCC;">版权所有
				anbo.space。保留所有权利。<br />Copyright anbo.space. All rights reserved.<br /> 推荐使用 <a class="footer-a"
					href="https://www.apple.com.cn/safari/" target="blank">Apple Safari</a> 或 <a class="footer-a"
					href="https://microsoft.com/zh-cn/edge/" target="blank">Microsoft Edge</a> 访问本站。<br />Powered by <a
					class="footer-a" href="https://github.com/agoudbg/anbo-space" target="blank">Github
					Pages</a>. <br /><a class="footer-a" href="/legal/network-service-protocol.html"
					target="_blank">服务协议</a> | <a class="footer-a" href="legal/privacy-policy.html"
					target="_blank">隐私政策</a><br />网站邮箱：<a class="footer-a" href="mailto:admin@anbo.space"
					target="_blank">admin@mail.junbo.wang</a><br /><script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279662427'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1279662427%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></span></span>
	</p>
</div>
<script src="//code.tidio.co/sqilqla5gqz58iooq7zyuqet3m7wkk65.js" async></script>