<h3>大家都在看</h3>
<a href="/live/new.html" target="blank"><img class="swealllove" src="https://cdn.cncn3.cn/webstatic/79f9014fd627c/幻灯片1.png"/></a>
<a href="/products" target="blank"><img class="swealllove" src="https://cdn.cncn3.cn/webstatic/96fe11a774daa/幻灯片4.png"/></a>
<a href="/apps/jiuzigao/" target="blank"><img class="swealllove" src="https://cdn.cncn3.cn/webstatic/2ed7e0b229bb8/幻灯片3.png"/></a>
<a href="http://anbo.space/apps/tv-desk/tv.html" target="blank"><img class="swealllove" src="https://cdn.cncn3.cn/webstatic/2b07f5f7c5a36/幻灯片2.png"/></a>

<script>
    showad(0,"100%","150px","margin-bottom:20px;");
</script>
<h3>站点公告</h3>
<li>欢迎来到安播空间！这可是新升级的229资料站哟！<br />蛤，换汤不换药？Too young too simple~站长高考完后就会带着大家在安播宇宙（anbo space）疯狂探索~ 欸什么，你还不知道站长是谁？呐，这是他的网站，拿走不谢 →_→<a href="https://junbo.wang?from=anbo_space" target="blank">junbo.wang</a> <span style="text-decoration:line-through;">229资料站是它的子域而已</span></li>
<li>与视频库、导播台等项目的衔接将逐步推进。</li>

<script>
    showad(0,"100%","150px","margin-bottom:20px;");
</script>